.signupform {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
 @media screen and (max-width: 768px) {
    .signupform {
        width: 100%;
       
        padding: 15px;
        display: flex;
        flex-direction: column;
    
        margin: auto;
    }
    .signupform form input {
        width: 100%;
      
    }
    .header
    {
     
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
   
  
 }
